@use 'index' as i;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: var(--highlight);
  color: var(--text);
}


html, body, app-root, app-empty-layout {
  display: flex;
  min-width: 100%;
  min-height: 100%;
}

.break-word {
  word-break: break-word;
  overflow-wrap: anywhere;
  white-space: pre;
}

body, app-root, app-login {
  flex: 1;
}

body {
  background-color: var(--bg-dark);
  color: var(--text);
  font-family: i.$font-interface;
}

input, textarea, select, button {
  border: 0;
  outline: none;
  font-family: i.$font-interface;
  color: var(--text);
  background-color: var(--bg-light);
}
