<div #main>
  <form [formGroup]="loginForm" (submit)="login()" [attr.aria-busy]="isLoggingIn()" [attr.aria-live]="isLoggingIn() ? 'polite' : null" method="post">
    <hgroup>
      <h1>{{ 'login.title' | translate }}</h1>
      <p class="break-word">{{ 'login.subtitle' | translate }}</p>
    </hgroup>
    <label>
      <span>{{ 'login.username.label' | translate }}</span>
      <input type="text" [placeholder]="'login.username.placeholder' | translate" formControlName="username" name="username" required autocomplete="username" [attr.aria-errormessage]="isUsernameInvalid() ? 'username_error' : null" [attr.aria-invalid]="isUsernameInvalid()">
      @if (isUsernameInvalid()) {
        <span class="error" id="username_error" #error>{{ 'login.username.warning' | translate }}</span>
      }
    </label>
    <label>
      <span>{{ 'login.password.label' | translate }}</span>
      <div>
        <input [type]="showPassword() ? 'text' : 'password'" [placeholder]="'login.password.placeholder' | translate" formControlName="password" name="password" required autocomplete="current-password" [attr.aria-errormessage]="isPasswordInvalid() ? 'password_error' : null" [attr.aria-invalid]="isPasswordInvalid()">
        <button type="button" (click)="updatePasswordVisibility()" class="show-password" [disabled]="loginForm.disabled">
          <fa-icon [icon]="showPassword() ? faEyeSlash : faEye" [title]="showPassword() ? ('login.password.hide' | translate) : ('login.password.show' | translate)" />
        </button>
      </div>
      @if (isPasswordInvalid()) {
        <span class="error" id="password_error" #error>{{ 'login.password.warning' | translate }}</span>
      }
    </label>
    <label>
      <input type="checkbox" formControlName="rememberMe" name="rememberMe">
      <span>{{ 'login.rememberMe' | translate }}</span>
    </label>

    @if (isLoggingIn()) {
      <button type="button" class="logging-in" disabled>
        <span class="spinner"></span>
        {{ 'login.button.loggingIn' | translate }}
      </button>
    } @else if (loginForm.disabled) {
      <button type="button" class="break-word" disabled>
        {{ 'login.button.disabled' | translate }}
      </button>
    } @else {
      <button type="submit">{{ 'login.button.label' | translate }}</button>
    }
  </form>
  <hgroup [class]="{ 'success': statusNumber() === 200, 'error': statusNumber() !== undefined && statusNumber() !== 200 }">
    @switch (statusNumber()) {
      @case (undefined) {
        <h2>{{ 'login.sidebar.title' | translate }}</h2>
        <p>{{ 'login.sidebar.subtitle' | translate }}</p>
      }
      @case (200) {
        <h2>
          <fa-icon [icon]="faCheck" />
          {{ 'login.status.200.title' | translate }}
        </h2>
        <p>{{ 'login.status.200.message' | translate }}</p>
      }
      @case (401) {
        <h2>
          <fa-icon [icon]="faWarning" />
          {{ 'login.status.401.title' | translate }}
        </h2>
        <p>{{ 'login.status.401.message' | translate }}</p>
      }
      @case (500) {
        <h2>
          <fa-icon [icon]="faWarning" />
          {{ 'login.status.500.title' | translate }}
        </h2>
        <p>{{ 'login.status.500.message' | translate }}</p>
      }
    }
  </hgroup>
</div>

