<div>
  <form [formGroup]="loginForm" (submit)="login()">
    <h1>{{ 'login.title' | translate }}</h1>
    <p>{{ 'login.subtitle' | translate }}</p>
    <label>
      <span>{{ 'login.username.label' | translate }}</span>
      <input type="text" [placeholder]="'login.username.placeholder' | translate" formControlName="username" required>
      @if (loginForm.get('username')!.invalid && loginForm.get('username')!.touched) {
        <span class="error">{{ 'login.username.warning' | translate }}</span>
      }
    </label>
    <label>
      <span>{{ 'login.password.label' | translate }}</span>
      <input type="password" [placeholder]="'login.password.placeholder' | translate" formControlName="password" required>
      @if (loginForm.get('password')!.invalid && loginForm.get('password')!.touched) {
        <span class="error">{{ 'login.password.warning' | translate }}</span>
      }
    </label>
    <label>
      <input type="checkbox" formControlName="rememberMe">
      <span>{{ 'login.rememberMe' | translate }}</span>
    </label>
    @if (isLoggingIn) {
      <button type="button" disabled>
        <span class="spinner"></span>
        {{ 'login.button.loggingIn' | translate }}
      </button>
    } @else {
      <button type="submit">{{ 'login.button.label' | translate }}</button>
    }
  </form>
  <section>
    <h2>{{ 'login.sidebar.title' | translate }}</h2>
    <p>{{ 'login.sidebar.subtitle' | translate }}</p>
  </section>
</div>

